# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Julia
5. JavaScript

### Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. Pandas
4. Matplotlib
5. PyTorch

| Data Science Tools |
|--------------------|
|Jupyter Notebook|
|RStudio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
 # This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
 # This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
- Python
- SQL
- R
- Julia
- JavaScript

## Author
__Aluri Pushpa Raju__